[Unit]
Description=qBittorrent
Wants=network-online.target
After=network-online.target

[Container]
Image={{ qbittorrent_image }}
HostName={{ inventory_hostname_short }}
Network=container:systemd-wireguard
Volume=qbittorrent-config.volume:/config
Volume=qbittorrent-downloads.volume:/downloads
Environment=PUID={{ qbittorrent_user.uid }}
Environment=PGID={{ qbittorrent_user.gid }}
Environment=TZ={{ timezone }}
Environment=WEBUI_PORT={{ qbittorrent_web_ui_port }}
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
