[Unit]
Description=Syncthing
Wants=network-online.target
After=network-online.target

[Container]
Image={{ syncthing_image }}
Volume=syncthing.volume:/var/syncthing
User={{ syncthing_user.uid }}
Group={{ syncthing_user.gid }}
Environment=TZ={{ timezone }}
Environment=PUID={{ syncthing_user.uid }}
Environment=PGID={{ syncthing_user.gid }}
PublishPort={{ syncthing_web_ui_port }}:{{ syncthing_web_ui_port }}/tcp
PublishPort={{ syncthing_sync_port }}:{{ syncthing_sync_port }}/tcp
PublishPort={{ syncthing_sync_port }}:{{ syncthing_sync_port }}/udp
PublishPort={{ syncthing_discovery_port }}:{{ syncthing_discovery_port }}/udp
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
